.footer{
  &__top{
    background-color: #F9F9F9;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  &__logo{
    position: relative;
    top: -10px;
  }
  &__content{
    p{
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  &__bottom{
    padding: 20px 15px;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
}
