.card{
  margin-bottom: 30px;
  &__basics {
    padding: 35px;
    background-color: $blue;
    color: $white;
    min-height: 394px;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__group{
    text-align: end;
  }
  &__fueledge{
    display: flex;
    background-color: $white;
    min-height: 138px;
    padding: 20px;
  }
  &__content{
    margin-left: 20px;
  }

  &__sertificate{
    padding: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    margin: 0 16px;
    display: flex;
    justify-content: center;
  }
  &__reviews{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    min-height: 400px;
    margin-right: 30px;
  }
}
